<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>RRD Mon</description>
    <servlet>
        <servlet-name>GraphImageServlet</servlet-name>
        <servlet-class>de.jacobs1.rrdmon.servlet.GraphImageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>FetchDataServlet</servlet-name>
        <servlet-class>de.jacobs1.rrdmon.servlet.FetchDataServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GraphImageServlet</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FetchDataServlet</servlet-name>
        <url-pattern>/fetch/*</url-pattern>
    </servlet-mapping>
    
</web-app>
